@import "reset.css";

:root {
  --color-bg-good: rgb(17, 98, 57);
  --color-bg-bad: rgb(194, 20, 58);
  --color-bg-improvement: rgb(87, 75, 75);
}

body {
  font-family: "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-slot {
  position: relative;
  padding: 1.5rem;
  width: 25rem;
  height: 32rem;
  margin-bottom: 1rem; /* address bottom: -1rem on counter */
}

.card-slot__counter {
  display: block;
  height: 100px;
  background: white;
  position: absolute;
  bottom: -1rem;
  left: 0;
  right: 0;
  border-radius: 0.7rem;
  box-shadow: 0px -3px 1px rgba(0, 0, 0, 0.05);
  text-align: center;
  padding: 1rem;
  color: #999;
}

.card {
  padding: 1em;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: bold;
  border-radius: 1rem;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
}

.card--good {
  background: var(--color-bg-good);
}

.card--bad {
  background: var(--color-bg-bad);
}

.card--improvement {
  background: var(--color-bg-improvement);
}

nav {
  display: flex;
  align-items: center;
}

.btn {
  background: white;
  border: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  font-size: 3rem;
  margin: 0 1rem;
  transition: transform 100ms;
  cursor: pointer;
}

.btn:hover {
  transition: transform 200ms;
  transform: scale(1.2);
}
