@import "reset.css";

:root {
  --color-bg-good: rgb(17, 98, 57);
  --color-bg-bad: rgb(194, 20, 58);
  --color-bg-improvement: rgb(87, 75, 75);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.card {
  padding: 1em;
  margin: 1em;
  width: 20rem;
  height: 25rem;
  color: white;
  font-size: 1.6em;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 1rem;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.4);
}

.card--good {
  background: var(--color-bg-good);
}

.card--bad {
  background: var(--color-bg-bad);
}

.card--improvement {
  background: var(--color-bg-improvement);
}
